.exhibition1dot {
  position: absolute;
  left: 25vw;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.exhibitioncont1 {
  max-width: 30%;
  position: relative;
  left: 1235px;
  bottom: 1000px;
}

.slideshow1{
  max-width: 30%;
  position: relative;
  left: 1235px;
  bottom: 980px;
  margin-top: 20px;
}